.Content1{
  /*position:fixed;
  top:100px;
  left:0;
  right:0;
  background-color:#2196F3;
  overflow:auto;
  font-size:12em;*/
  padding-top:50px;
}

.overlaycomponent{
  position: absolute;
  left: 25px;
  top: 25px;
  height: 450px;
  width: 450px;
  background-color: black;
  z-index: 10;
}

.mapcontainer{
  position: relative;
}
