.showsmall{
  display: inline-block;
  height: 20px;
  width: auto;
  color: white;
  font-size: 12px;
  background-color: red;
  white-space: nowrap;
  z-index: -1;
}

.showbig{
  display: inline-block;
  width: 300px;
  height: 300px;
  color: white;
  font-size: 20px;
  background-color: blue;
  /*white-space: nowrap;*/
  word-break:break-all;
  z-index: 2;
}

p{
  display: inline-block;
}


a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
